.home-main {
    position: relative;
    width: 100%;
}

.home2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px 20px;
}

.home2 h1 {
    color: #5E56E7;
    font-size: 48px;
    background: transparent;
    text-wrap: wrap;
}

.home2 p {
    color: #333333;
    font-weight:500;
    font-size: 20px;
    background: transparent;
}

.pattern-img {
    width: 100%;
    max-width: 100%;
    height: auto;
}


@media (min-width:320px) and (max-width:768px) {
    .home2 {
        margin-top: 65px;
    }

    .home2 p {
        font-size: 13px;
    }

    .home2 h1 {
        font-size: 35px;

    }
}