/* ....CARDS SECTION....  */
.containerss {
    background-color: #F8F7FF;
}

.card-container {
    cursor: pointer;
    width: 500px;
    background-color: white;
    padding: 5px 10px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.card-container:hover {
    border: 0.2px solid #5E56E7;
}

.cards-section {
    padding: 30px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 40px;
}

.left .icon {
    width: 40px;
}

.right span {
    font-size: 15px;
}

.icon-name {
    font-size: 20px;
    color: black;
    font-weight: 500;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

@media (min-width:320px) and (max-width:768px){
    .containerss {
        margin: 5px 10px;
    }

    .cards-section {
        padding: 0;
        margin-top: 115px;
        gap: 10px;
        margin-bottom: 10px;
    }
}